html, body {
  min-width: 1200px;
  min-height: 1175px;
  margin: 0;
  padding: 0;
}

.main-header {
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.logo-inner {
  display: block;
  float: left;
  width: 111px;
  height: 20px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.container .inner-title {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  min-height: 45px;
  margin-bottom: 20px;
}

.container .breadcrumbs {
  min-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.container .choose {
  float: left;
  min-height: 575px;
  width: 230px;
  margin-right: 10px;
}

.container .goods {
  float: left;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 700px;
}

.good {
  float: left;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 0;
  width: 220px;
  height: 286px;
  list-style: none;
}

.good:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  clear: both;
  margin: 0;
  margin-left: 240px;
  padding: 0;
  min-width: 43px;
  min-height: 43px;
  padding-right: 6px;
}

.main-footer {
  margin-top:50px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  min-height: 90px;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  min-height: 90px;
  width: 180px;
}

.footer-copyright {
  float: right;
  min-height: 90px;
  width: 140px;
}
