body {
  margin: 0;
  min-width: 960px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000 url("../img/background.jpg") no-repeat center top;
}

.main-header {
  margin-bottom: 60px;

  color: #ffffff;
  background-color: #000000;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
}

.login:hover {
  background: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: #ff0000;
}

/*НАЧАЛО ДОПОЛНЕНИЯ ДЛЯ ВНУТРЕННИХ СТРАНИЦ*/

.inner-page .main-header {
  margin-bottom: 55px;
}


.logo-inner {
  display: block;
  float: left;
  width: 111px;
  height: 20px;
}

/*КОНЕЦ ДОПОЛНЕНИЯ ДЛЯ ВНУТРЕННИХ СТРАНИЦ*/

/* НАЧАЛО СТИЛИЗАЦИИ ОСНОВНОГО СОДЕРЖИМОГО ГЛАВНОЙ СТРАНИЦЫ*/

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  margin-right: 20px;
  width: 300px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000000;

  background: url("../img/content-shadow.jpg") no-repeat center ,#f8f5f2 url("../img/content-background.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 35px;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover, .btn:active {
  background-color: #663d15;
}

.btn.disabled, .btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover, .btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus {
  border-color: #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%
}
/* КОНЕЦ СТИЛИЗАЦИИ ОСНОВНОГО СОДЕРЖИМОГО ГЛАВНОЙ СТРАНИЦЫ*/

/* НАЧАЛО СТИЛИЗАЦИИ ОСНОВНОГО СОДЕРЖИМОГО КАТАЛОГА ТОВАРОВ*/

.page-title {
  min-height: 75px;
  margin-bottom: 50px;
}

.shop-column-left {
  float: left;
  width: 200px;
  margin-right: 30px;
}

.shop-column-right {
  float: left;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  width: 700px;
}

.good {
  display: inline-block;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0;
  width: 220px;
  height: 286px;
  list-style: none;
}

.good:nth-child(3n) {
  margin-right: 0;
}
/* КОНЕЦ СТИЛИЗАЦИИ ОСНОВНОГО СОДЕРЖИМОГО КАТАЛОГА ТОВАРОВ*/
/* НАЧАЛО СТИЛИЗАЦИИ ОСНОВНОГО СОДЕРЖИМОГО КОНКРЕТНОГО ТОВАРА*/
.full-description {
  padding: 5px 0;
  padding-bottom: 10px;
}

.good-gallery {
  float: left;
  padding-right: 10px;
  width: 460px;
  min-height: 675px;
}

.description {
  float: right;
  width: 390px;
  min-height: 675px;
}
/* КОНЕЦ СТИЛИЗАЦИИ ОСНОВНОГО СОДЕРЖИМОГО КОНКРЕТНОГО ТОВАРА*/

/* НАЧАЛО СТИЛИЗАЦИИ ПОДВАЛА СТРАНИЦ */
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background-color: #252525;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  margin: 0 2px;
  width: 43px;
  height: 43px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000;
}

.social-btn:hover {
  background-color: #ffffff;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.inner-page .main-footer {
  margin-top: 35px;
}
