html, body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url("../for_grid/barbershop-index.jpg") no-repeat 50% 3px;
}

.main-header {
  margin-bottom: 60px;
}

.container {
  width: 940px; /*Ширина содержимого (940 + 20 из падингов)*/
  padding: 0 10px; /*Отступы справа и слева чтобы не прилипало содержимое*/
  margin: 0 auto; /*Центруем содержимое */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  float: left;
  width: 780px;

  min-height: 70px; /*Минимальная высота из фотошопа для оформления сетки*/
}

.user-block {
  float: right;
  width: 140px;

  min-height: 70px; /*Минимальная высота из фотошопа для оформления сетки*/
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;/*Центровка картинки*/
  margin-bottom: 25px; /*Отступ между сеточными блоками*/
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  margin-right: 20px;
  width: 300px; /*ширина каждого преимущества из фотошопа*/

  min-height: 175px; /*Минимальная высота из фотошопа для оформления сетки*/
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;

  min-height: 330px; /*Минимальная высота из фотошопа для оформления сетки*/
}

.index-content-right {
  float: right;
  width: 300px;

  min-height: 330px; /*Минимальная высота из фотошопа для оформления сетки*/
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  min-height: 90px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 140px;
  min-height: 90px;
}




























body {
	padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
	position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
	content: "";
	position: absolute;

	height: 24px;
	padding: 2px 5px;

	font-weight: bold;
	font-size: 16px;
	font-family: "Courier New", monotype;
	white-space: nowrap;
}

body > *::before {
	top: -3px;
	left: -3px;
}

body > * > *::before {
	top: -3px;
	left: -3px;
}

body > * > * > *::before {
	top: 0;
	left: 0;
}

body > * {
	background: rgba(0, 128, 0, 0.2);
	box-shadow: 0 0 0 3px green;
}

body > *::before {
	color: white;
	background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;
  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > *::before {
  color: black;
  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top:auto;
  bottom: -28px;
}

.main-navigation::before {
	content: ".main-navigation";
}

.user-block::before {
	content: ".user-block";
}

.index-logo::before {
	content: ".index-logo";
}

.features::before {
	content: ".features";
	top: -28px;
}

.features-item::before {
	content: ".features-item";
}

.index-content::before {
	content: ".index-content";
}

.index-content-left::before {
	content: ".index-content-left";
	left: auto;
	right: 0;
}

.index-content-right::before {
	content: ".index-content-right";
	left: auto;
	right: 0;
}

.main-footer::before {
  content: ".footer";
}

.main-footer .container::before {
  top: -28px;
}
